{% extends 'base.html.twig' %}

{% block title %}Homepage {% endblock %}

{% block body %}
    <section id="content">
        <div class="block-3 col-sm-12">

            <div class="box-3">
                {% for show in shows %}
                    <div class="col-sm-3">
                        <div class="box-border">
                            <div class="block-1-title">
                                <div class="text-4">{{ show.title }}</div>
                                <div class="text-3">{{ show.Genre.genre }}</div>
                            </div>
                            <p class="border-2">
                                <span class="fas fa-clock"></span> <span class="show-date" id="date{{ show.id }}">{{ data[show.id].search_date|date("Y-m-d") }}</span><br>
                                <b>Show will be shown:</b> {{ show.date|date("Y-m-d") }} - {{ show.dateEnd|date("Y-m-d") }}<br>
                                {% if data[show.id].status == constant('App\\Entity\\Ticket::OPEN_SALE_STATUS') %}
                                    <p class="status-open">{{ data[show.id].status }}</p><br>
                                {% else %}
                                    <p class="status">{{ data[show.id].status }}</p><br>
                                {% endif %}
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <b>Tickets left:</b> {{ data[show.id].tickets_left}}<br>
                                {% endif %}
                                <b>Tickets available:</b> <span class="max-available">{{ data[show.id].tickets_available}}</span><br>
                                <hr>
                                <i class="fas fa-euro-sign big-icon"></i>
                                {% if data[show.id].discount is defined %}
                                    <span class="old-price">{{ show.Genre.price|number_format(2, '.', ',')}}</span>
                                    <span class="price">{{ (show.Genre.price - (show.Genre.price *data[show.id].discount)/100)|number_format(2, '.', ',')}}</span>
                                {% else %}
                                    <span class="price">{{ show.Genre.price |number_format(2, '.', ',')}}</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}